* {
  padding: 0%;
  margin: 0%;
}

header {
  padding: 16px 0px;
}

header > nav {
  padding-left: 14%;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

header > nav > ul > li:hover > a {
  color: #d07971;
  border-color: rgba(208, 121, 113, 0.7);
}

[class*="fa-"] {
  transition: all .4s ease-in-out;
}

[class*="fa-"] :hover {
    cursor: pointer;
    transition: all .4s ease-in-out;
    transform: scale(1.3);
  }

.fa-phone {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 50px;
  margin-left: 200px;
}

.fa-cart-shopping {
  height: 24px;
  padding-bottom: 2px;
  margin-left: 15px;
}

.container {
  background: linear-gradient(to right, #ff6ebd, #ffa090, #ffd165);
  font-family: "Raleway", sans-serif;
}

.imgHolder {
  height: 100vh;
  background: url(../images/img1.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.textHolder {
  color: white;
  padding: 30px 150px 30px 50px;
  background-color: rgba(208, 121, 113, 0.7);
  text-wrap: wrap;
  margin-left: 70px;
  margin-bottom: 66px;
  width: 500px;
  height: 210px;
}

.textHolder > h1 {
  font-size: 45px;
  padding: 16px 0px;
}

.textHolder > p {
  text-align: left;
  line-height: 1.5;
  opacity: 0.75;
  font-size: 16px;
}

.orderNow {
  color: white;
  text-align: center;
  font-size: 53px;
  letter-spacing: 5px;
  word-spacing: 5px;
  padding-top: 40px;
}

.cardHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 65px;
}

.card {
  background-color: white;
  width: 280px;
  padding: 30px 30px 40px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center;
  margin: 20px;
  transition: 1s ease-in-out;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card > img {
  border-top-right-radius: 50px;
  width: 100%;
  height: 250px;
}

.card > h3 {
  margin: 20px;
  font-size: 30px;
}

.card > p {
  line-height: 1.5;
  word-spacing: 8px;
  text-wrap: wrap;
  font-size: large;
}

.orderButton {
  margin: 15px 0px 145px 0px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 60px;
  border: transparent;
  border-radius: 50px;
  font-weight: bolder;
  font-size: 20px;
  transition: 1s;
}

.orderButton:hover {
  cursor: pointer;
  background-color: rgba(166, 43, 43, 0.4);
  color: white;
}
